div {
    padding: 2px
}

body {
    background-color: #781611;
    color: rgb(255, 255, 255);
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}

 .hidden {
  display: none;
}