<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css"> 
    <title>Heart Failure Calc</title>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4e4e4e;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Heart Failure Mortality Predictor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="patient_calc.html">Risk Factor Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="clinical_calc.html">Clinical Calculator</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!--Page Content-->
    <div class="container">
      <br>
        <div class="row">
          <div class ="col-md-8 divbdy">
            <br>
            <h1>Scope of Project:</h1>
            <hr>
            <p>Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worlwide.</p>
              <p>Heart failure is a common event caused by CVDs and this dataset contains 12 features that can be used to predict mortality by heart failure.</p>
              <p>Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol using population-wide strategies.</p>
              <p>People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.</p>
          </div>
        <div class="col-md-4 divbdy"> 
          <br>
          <h2>Team Code Hearted:</h2>
          <hr>
          <div class='row'>
            <ul>
              <li>Summer Baptiste</li>
              <li>Judy Samuels</li>
              <li>Nick Neubauer</li>
              <li>Emma Kruis</li>
              <li>Alex Ryan</li>
            </ul>
          </div>
          
        </div>
    </div>






    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>



</html>
