<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css"> 
    <title>Heart Failure Calc</title>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4e4e4e;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Heart Failure Mortality Predictor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="patient">Risk Factor Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="clinical">Clinical Calculator</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="resources">Resources</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

  <div class="container">

    <!-- Start - Age Row -->
    <!-- <div class="row"> -->
    <p>&nbsp; {{ prob }}</p>
    
    <form action="/patient_data" method="POST">
      <div class="row">
        <p class="col-4"> What is your Age? (40 - 95) </p>
        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="text" id="age" name="age" class="custom-control-input input" value="{%if data is defined %}{{ data['age'] }}{% endif %}">
        </div>
      </div>

      <!-- </div> -->
      <!-- End - Age row -->

      <!-- Start - Gender at Birth row -->
      <div class="row">

        <p class="col-4"> Gender at Birth? </p>
        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="radio" id="gender" name="gender" class="custom-control-input" value="1" {% if data is defined and data['sex'] == '1' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline1">Male</label>
        </div>

        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="radio" id="gender" name="gender" class="custom-control-input" value="0" {% if data is defined and data['sex'] == '0' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline2">Female</label>
        </div>

      </div>
      <!-- End - Gender at Birth row -->

      <!-- Start - Smoker row -->
      <div class="row">

        <p class="col-4 text-right"> Are you a Smoker? </p>
        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="radio" id="smoker" name="smoker" class="custom-control-input text-leftt" value="1" {% if data is defined and data['smoker'] == '1' %} checked {% endif %}>
          <label class="custom-control-label text-right" for="customRadioInline3">Yes</label>
        </div>

        <div class="col-6 custom-control custom-radio custom-control-inline">
          <input type="radio" id="smoker" name="smoker" class="custom-control-input text-left" value="0" {% if data is defined and data['smoker'] == '0' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline4">No</label>
        </div>

      </div>
      <!-- End - Smoker row -->

      <!-- Start -  Anemia -->
      <div class="row">

        <p class="col-4"> Are you Anemic? </p>
        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="radio" id="anemic" name="anemic" class="custom-control-input" value="1" {% if data is defined and data['anemia'] == '1' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline5">Yes</label>
        </div>

        <div class="col-6 custom-control custom-radio custom-control-inline">
          <input type="radio" id="anemic" name="anemic" class="custom-control-input" value="0" {% if data is defined and data['anemia'] == '0' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline6">No</label>
        </div>

      </div>
      <!-- End - Anemia -->

      <!-- Start -  Diabetes -->
      <div class="row">

        <p class="col-4"> Are you Diabetic? </p>
        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="radio" id="diabetic" name="diabetic" class="custom-control-input" value="1" {% if data is defined and data['diabetes'] == '1' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline7"> Yes </label>
        </div>

        <div class="col-6 custom-control custom-radio custom-control-inline">
          <input type="radio" id="diabetic" name="diabetic" class="custom-control-input" value="0" {% if data is defined and data['diabetes'] == '0' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline8"> No </label>
        </div>
      </div>
      <!-- End - Diabetes-->

      <!-- Start -  Hypertension -->
      <div class="row">

        <p class="col-4"> Do you have High Blood Pressure? </p>
        <div class="col-2 custom-control custom-radio custom-control-inline">
          <input type="radio" id="highbp" name="highbp" class="custom-control-input" value="1" {% if data is defined and data['highbp'] == '1' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline9"> Yes </label>
        </div>

        <div class="col-6 custom-control custom-radio custom-control-inline">
          <input type="radio" id="highbp" name="highbp" class="custom-control-input" value="0" {% if data is defined and data['highbp'] == '0' %} checked {% endif %}>
          <label class="custom-control-label" for="customRadioInline10"> No </label>
        </div>

      </div>
      <input type="submit">
    </form>
    <!-- End - Hypertension -->


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
</body>

</html>